<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/. -->
<div class="app-dock-container">
    <div class="app-dock" id="app-dock">
        <div style="margin-top: 50px; text-align: center; font-size: 120%;">
            <img src="img/error.svg" alt="" style="max-width: 80%; max-height: 33%;" />
            <br /><br />
            Could not load application data from server.
            <br />
            <div class="btn btn-blue" onclick="openscreen('home')">
                Try again
            </div>
        </div>
    </div>
</div>
<script>
    setnavbar('home');
</script>