<div class="list-group">
    <div class="list-group-item" onclick="updatepassword()">
        <b>Update Password</b>
        <p>Enter your new password if you changed it from AccountHub.</p>
    </div>
    <div class="list-group-item" onclick="deleteall()">
        <b>Log out</b>
        <p>Forget all cached account data (including sync key) and open the setup tool.</p>
    </div>
</div>

<div class="list-group">
    <div class="list-group-item" onclick="toggleAnimations()">
        <b>Turn animations <span id="animations_offon_label">off</span></b>
        <p>Disable transitions and animations on slow devices or to save battery life.</p>
    </div>
</div>

<div class="list-group">
    <div class="list-group-item" onclick="openscreen('zeroconf', 'FADE')">
        <b>Server Locator</b>
        <p>Scan the local network for Business Apps services.</p>
    </div>
</div>

<div class="list-group">
    <div class="list-group-item">
        <b><span id="app_name">Netsyms Business Apps for Mobile</span> v<span id="app_version">1.x</span></b>
        <br />
        Copyright &copy; 2017 Netsyms Technologies.  Some rights reserved.
        <br />
        <span style="text-decoration: underline;" onclick="window.open('https://netsyms.com/?pk_campaign=BusinessMobile-InAppBrowser', '_system', '');">https://netsyms.com</span>
        <br />
        <span id="app_package">com.netsyms.BusinessMobile</span>
        <br />
        build #<span id="app_version_code">1xxxx</span>
    </div>
    <div class="list-group-item" onclick="openscreen('credits', 'FADE')">
        <b>Credits and Open Source</b>
    </div>
    <div class="list-group-item" onclick="cordova.InAppBrowser.open('https://netsyms.biz/mobile-privacy-policy', '_blank', 'location=yes');">
        <b>Privacy Policy</b>
    </div>
</div>

<script>
    setnavbar("settings");

    function deleteall() {
        navigator.notification.confirm("Really wipe user data?  You will need to resync the app with AccountHub to use it again.", function (result) {
            if (result != 1) {
                return;
            }
            // Wipe localStorage
            localStorage.removeItem("setupcomplete");
            localStorage.removeItem("username");
            localStorage.removeItem("syncurl");
            localStorage.removeItem("key");
            localStorage.clear();
            // force-reload app
            navigator.notification.alert("Connection data and credentials erased.", function () {
                restartApplication();
            }, "App Reset", 'Continue');
        }, "Are you sure?");
    }

    function toggleAnimations() {
        if (localStorage.getItem("animations") === null || localStorage.getItem("animations") === "true") {
            localStorage.setItem("animations", "false");
            $.fx.off = true;
            $('#animations_offon_label').text("on");
            navigator.notification.alert("Animations turned off.", null, "Setting updated", "Dismiss");
        } else {
            localStorage.setItem("animations", "true");
            $.fx.off = false;
            $('#animations_offon_label').text("off");
            navigator.notification.alert("Animations turned on.", null, "Setting updated", "Dismiss");
        }
    }

    /**
     * Prompts the user to enter their password, then checks the password and 
     * saves or displays an error.
     * @returns {undefined}
     */
    function updatepassword() {
        navigator.notification.prompt("Re-enter your password.", function (results) {
            if (results.buttonIndex == 1) {
                $.post(localStorage.getItem("syncurl"), {
                    username: localStorage.getItem("username"),
                    key: localStorage.getItem("key"),
                    password: results.input1,
                    action: "check_password"
                }, function (data) {
                    if (data.status === 'OK') {
                        localStorage.setItem("password", results.input1);
                        localStorage.setItem("setupcomplete", true);
                        navigator.notification.alert("Saved password updated.", function () {
                            // Reload app just to be safe
                            restartApplication();
                        }, "Success", 'Continue');
                    } else {
                        navigator.notification.alert(data.msg, null, "Error", 'Dismiss');
                    }
                }, "json").fail(function () {
                    navigator.notification.alert("Could not connect to the server.  Try again later.", null, "Error", 'Dismiss');
                });
            }
        }, "Update Password", ["Save", "Cancel"]);
    }

    if (localStorage.getItem("animations") === "false") {
        $('#animations_offon_label').text("on");
    }

    cordova.getAppVersion.getVersionNumber(function (version) {
        $('#app_version').text(version);
    });
    cordova.getAppVersion.getPackageName(function (package) {
        $('#app_package').text(package);
    });
    cordova.getAppVersion.getVersionCode(function (version) {
        $('#app_version_code').text(version);
    });
</script>
