.app-dock-container {
    display: flex;
}

.app-dock {
    margin: 0 auto 10px auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.app-icon {
    border: 1px solid grey;
    border-radius: 20%;
}

.app-dock-item {
    padding: 0px 5px 2px 5px;
    min-width: 100px;
}

.app-dock-item p {
    margin-bottom: 0px;
    font-size: 95%;
    color: #555;
}

.app-dock-item p img {
    width: 50px;
    display: block;
    margin: 0 auto;
}

.app-dock-item p span {
    display: block;
    text-align: center;
}