html, body {
    height: 100%;
}

.app-dock-container {
    display: flex;
    height: 100%;
}

.app-dock {
    margin: 0 auto 10px auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.app-icon {
    border: 1px solid grey;
    border-radius: 20%;
}

.app-dock-item {
    padding: 0px 10px 2px 10px;
    min-width: 100px;
    max-width: 50%;
    width: 120px;
    margin: 15px;
}

.app-dock-item p {
    margin-bottom: 0px;
    font-size: 120%;
    color: #555;
}

.app-dock-item p img {
    width: 80px;
    height: 80px;
    display: block;
    background: url(../img/app-icon-bg.svg) no-repeat;
    background-size: 90%;
    background-position: 50%;
    margin: 0 auto;
}

.app-dock-item p span {
    display: block;
    text-align: center;
}

span.navbar-brand {
    color: white;
    margin-right: 0px;
    height: 30px;
    margin-top: -4px;
    font-size: 20px;
    margin-left: 5px;
}

.navbar-brand.pull-left img {
    margin-right: -10px;
    height: 30px;
    margin-top: -4px;
    margin-left: -4px;
}

.navbar-brand.pull-right img {
    height: 30px;
    margin-top: -4px;
}

#manual_setup {
    margin-top: 15px;
}

#navbar {
    min-height: 56px;
}