/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

html, body {
    height: 100%;
}

.app-dock-container {
    display: flex;
    height: 100%;
}

.app-dock {
    margin: 0 auto 10px auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.app-icon {
    border: 1px solid grey;
    border-radius: 20%;
}

.app-dock-item {
    padding: 0px 10px 2px 10px;
    min-width: 100px;
    max-width: 50%;
    width: 120px;
    margin: 15px;
}

.app-dock-item p {
    margin-bottom: 0px;
    font-size: 120%;
    color: #555;
}

.app-dock-item p img {
    width: 80px;
    height: 80px;
    display: block;
    background: url(../img/app-icon-bg.svg) no-repeat;
    background-size: 90%;
    background-position: 50%;
    margin: 0 auto;
}

.app-dock-item p span {
    display: block;
    text-align: center;
}

/* https://stackoverflow.com/a/23536146 */

.navbar-collapse.collapse {
    display: block!important;
}

.navbar-nav>li, .navbar-nav {
    float: left !important;
}

.navbar-nav.navbar-right:last-child {
    margin-right: -15px !important;
}

.navbar-right {
    float: right!important;
}

/* /stackoverflow */


.nav {
    color: white;
    margin-right: 0px;
    height: 30px;
    margin-top: -4px;
    font-size: 20px;
    margin-left: 5px;
}

.navbar-right span {
    color: white;
    font-size: 18px;
    margin-top: -4px;
}

.navbar-brand img {
    margin-right: 15px;
    height: 30px;
    margin-top: -4px;
    margin-left: -10px;
    display: inline-block;
}

.navbar-right li a img {
    height: 30px;
    margin-top: 6px;
    display: inline-block;
}

@media (min-width: 768px) {
    .navbar-right {
        margin-top: -6px;
    }
    
    .navbar-right li a img {
        margin-top: -1px;
    }
}

#manual_setup {
    margin-top: 15px;
}

#navbar {
    min-height: 56px;
}

.loading-text {
    font-size: 18px;
}