/*
This Source Code Form is subject to the terms of the Mozilla Public
License, v. 2.0. If a copy of the MPL was not distributed with this
file, You can obtain one at http://mozilla.org/MPL/2.0/.
*/
@media screen and (max-width: 767px) {
    #navbar-collapse {
        display: none;
    }
}

#swipe-nav .swipe-list {
    margin-top: 5px;
    margin-bottom: 10px;
    padding-left: 0px;
    list-style-type: none;
    padding: 3px;
}

#swipe-nav .swipe-list .nav-item {
    color: #424242;
    padding-top: 5px;
    padding-bottom: 5px;
}

#swipe-nav .swipe-list .nav-item a:focus,a:active {
    background-color: #e0e0e0;
}

#swipe-nav .swipe-list .nav-item i.fa {
    font-size: 120%;
    margin-right: 10px;
    margin-left: 5px;
}

#swipe-nav .swipe-list .nav-item a {
    display: inline-block;
    color: #424242;
    font-size: 110%;
    text-decoration: none;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
}

#swipe-nav .swipe-list .nav-item a:hover {
    text-decoration: none;
}