/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.mobile-app-hide {
    display: none;
    visibility: hidden;
}

.mobile-app-show {
    visibility: visible;
}

.mobile-app-display {
    display: initial;
}

#swipe-nav {
    display: none;
    visibility: visible;
    overflow-y: scroll;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 60%;
    z-index: 9999999;
    max-width: 300px;
    min-width: 200px;
    background-color: #fafafa;
    box-shadow: 5px 0px 15px 0px rgba(0,0,0,0.5);
}

#swipe-nav #swipe-header {
    height: 150px;
    background-color: #eeeeee;
    position: relative;
}

#swipe-nav #swipe-header #swipe-username {
    position: absolute;
    bottom: 0;
    padding-left: 10px;
    padding-bottom: 10px;
    font-size: 110%;
}

#swipe-nav #swipe-header #swipe-appicon {
    position: absolute;
    top: 0;
    padding-left: 20px;
    padding-top: 20px;
    height: 80px;
}

#swipe-nav #swipe-header #swipe-username .fa {
    font-size: 120%;
}

#swipe-nav #swipe-pages {
    padding-bottom: 10px;
    border-bottom: 1px solid #eeeeee;
}

#swipe-shader {
    position: fixed;
    display: none;
    visibility: visible;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 9999998;
}